:root {
  --color1: #10BEFF;
  --color2: #fff;
  --color3: #0D98CC;
  --color4: #085F7F;
  --color5: #2E697F;
}

.cal_calendar
{
        border:0px solid black;
        padding:0px;
        background-color: var(--color4);
        width:300px;
        margin:auto;
        height:246px;
        
}
.cal_calendar th
{
        border:1px solid black;
        background-color:var(--color3);;
        width:36px;
}
.cal_calendar td
{
        border:1px solid black;
        background-color:var(--color1);
        text-align:center;
        width:36px;
        height:36px;
}
.cal_today
{
        color:var(--color2);
        font-weight:bold;
		background-color: var(--color4);
}
td .cal_today {
	background-color: var(--color4);
}
.cal_days_bef_aft
{
		color:var(--color3);
}
.cal_body {
		color:var(--color4);
}