/* If you are reading this, piss off unless you're someone who is on the webdev team of the C5CC.
Otherwise, you should be here: http://cat5cybercanes.org/ */
@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
:root {
  --color1: #10BEFF;
  --color2: #fff;
  --color3: #0D98CC;
  --color4: #085F7F;
  --color5: #2E697F;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	background: var(--color4);
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
	background-color: var(--color4);
}
nav {
	clear: both;
	float: left;
	margin-left: 0;
	margin-bottom:1%;
	width: 100%;
	display: block;
	
}

#Banner {
	clear: both;
	float: left;
	margin-left: 0;
	margin-bottom:1%;
	margin-top:30%;
	width: 100%;
	display: block;
}
#Footer {
	clear: both;
	float: left;
	margin:7px 0;
	width: 100%;
	display: block;
	background-color:var(--color3);
	color:var(--color2);
}
#Body {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top:34px;
	width: 100%;
	display: block;
	background-color: var(--color1);
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#Banner {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top:3%;
	width: 100%;
	display: block;
}
#Footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Body {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: var(--color1);
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 98.2%;
	max-width: 1000px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	background-color:var(--color4);
}
#Banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Footer {
	clear: both;
	float: left;
	margin-left: 0;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
	font-weight: bold;
}
#Body {
	color: Black;
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-bottom-width: 5px;
	border-bottom-color: White;
	background-color: var(--color1);
}
}
