/* If you are reading this, piss off unless you're someone who is on the webdev team of the C5CC.
Otherwise, you should be here: http://cat5cybercanes.org/ */
:root {
  --color1: #10BEFF;
  --color2: #fff;
  --color3: #0D98CC;
  --color4: #085F7F;
  --color5: #2E697F;
}
#t1 a {
	color:White;
	text-decoration:none;
	margin-left:2%;
}
#t1 a:hover {
	color:rgb(250,150,150);
	text-decoration:none;
}
#th{
	text-align: center;
	font-size: 50px;
	font-family: impact;
	margin-bottom: 5px;
	color: DarkGray;
	outline-color: Silver;
	outline-width: Thick;
}
#h1{
	color: Silver;
	font-size: 24px;
}
#h2{
	color:Silver;
	font-size: 18px;
}
#t1{
	color:#FFF;
	margin: 5px;
	font-size: 13px;
	background-color:#5DD3FF;
}
#t2{
	color:Silver;
	margin-top: 0px;
	margin-bottom: 18px;
	font-size: 13px;
}
#t3{
	color:Silver;
	font-size: 13px;
	margin-left: 3%;
}
#t{
	color:Silver;
	margin-top: -8px;
	margin-bottom: 1px;
	font-size: 16px;
}
#hr {
	margin-left: -5.5%;
	margin-bottom: 11px;
	color: Grey;
	background-color: Grey;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: -24px;
    color: #fff;
    content: attr(title);
    left: 40%;
    padding: 5px 5px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 0px 6px 6px 6px;
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.tooltipr{
    display: inline;
    position: relative;
}

.tooltipr:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: -44px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltipr:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 0px 6px 6px 6px;
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.prevB {
	padding:2px 20%;
	text-align:center;
	text-decoration:none;
	color:white;
	background-color:var(--color3);
	border-color:var(--color3);
	float:left;
	transition:0.5s;
}
.prevB:hover {
	background-color:var(--color1);
	border-color:var(--color3);
	transition:0.25s;
}
.prevB:active {
	background-color:var(--color4);
	border-color:var(--color3);
	transition:0.25s;

}

.nextB {
	padding:2px 20%;
	text-align:center;
	text-decoration:none;
	color:white;
	background-color:var(--color3);
	border-color:var(--color3);
	float:right;
	transition:0.5s;
}
.nextB:hover {
	background-color:var(--color1);
	border-color:var(--color3);
	transition:0.25s;
}
.nextB:active {
	background-color:var(--color4);
	border-color:var(--color3);
	transition:0.25s;
}
